{% import "macros.html" as macros %}
{%- if config.extra.languages[lang].header_buttons is defined %}
  {%- set header_buttons = config.extra.languages[lang].header_buttons %}
{%- elif config.extra.header_buttons is defined %}
  {%- set header_buttons = config.extra.header_buttons %}
{%- else %}
  {%- set header_buttons = ["site_title", "theme_button", "search_button", "translations_button"] %}
{%- endif %}
{%- if config.extra.languages[lang].header_menu_name and config.extra.menus[config.extra.languages[lang].header_menu_name] is defined %}
  {%- set header_menu = config.extra.menus[config.extra.languages[lang].header_menu_name] %}
{%- elif config.extra.header_menu_name and config.extra.menus[config.extra.header_menu_name] is defined %}
  {%- set header_menu = config.extra.menus[config.extra.header_menu_name] %}
{%- elif config.extra.menu %}
  {%- set header_menu = config.extra.menu %}
{%- endif %}
{%- set base_url_lang = get_url(path="", lang=lang) %}
<header class="{%
  if config.extra.style.header_blur %}blur-header{% else %}bg-[var(--header)]{% endif %} fixed top-0 z-40 mx-auto min-h-[3.25rem] w-full">
  <div class="mx-auto w-full max-w-4xl p-2.5 lg:flex lg:justify-between">
    <div class="flex justify-between">
      <div class="flex items-center min-h-8">
        {%- for header_button in header_buttons %}
          {%- if header_button == "site_title" and config.title %}
        <a title="{{ macros::tr(key=`act_go_to_home`, lk=lang, td=g_trans_data) }}" accesskey="!"
          href="{{ base_url_lang | escape_xml | safe }}/" class="text-2xl font-semibold">{{ config.title }}</a>
          {%- elif header_button == "home_button" or header_button == "site_title" %}
        <button type="button" title="{{ macros::tr(key=`act_go_to_home`, lk=lang, td=g_trans_data) }}" accesskey="!"
          onclick="window.location.href='{{ base_url_lang | escape_xml | safe }}/';"
          class="btn-home h-6 w-6 shrink-0 cursor-pointer text-[0] bg-center bg-no-repeat bg-cover dark:invert"
          style="background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'32\' height=\'32\' viewBox=\'0 0 24 24\' \
            fill=\'none\' stroke=\'currentColor\' stroke-width=\'2.5\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-home\'><path \
            d=\'M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z\'></path><polyline points=\'9 22 9 12 15 12 15 22\'></polyline></svg>');"
        ></button>
          {%- elif header_button == "theme_button" %}
        <button type="button" title="{{ macros::tr(key=`act_switch_color_scheme`, lk=lang, td=g_trans_data) }}" accesskey="$"
          onclick="window.linkita.toggleDarkMode();" ondblclick="window.linkita.resetDarkMode();"
          class="btn-dark ml-4 h-6 w-6 shrink-0 cursor-pointer text-[0] bg-center bg-no-repeat bg-cover dark:invert [background-image:var(--url-dark)] dark:[background-image:var(--url-light)]"
          style="--url-light: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'32\' height=\'32\' viewBox=\'0 0 24 24\' \
            fill=\'none\' stroke=\'currentColor\' stroke-width=\'2.5\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-sun\' \
            ><circle cx=\'12\' cy=\'12\' r=\'5\'></circle><line x1=\'12\' y1=\'1\' x2=\'12\' y2=\'3\'></line><line x1=\'12\' y1=\'21\' x2=\'12\' y2=\'23\' \
            ></line><line x1=\'4.22\' y1=\'4.22\' x2=\'5.64\' y2=\'5.64\'></line><line x1=\'18.36\' y1=\'18.36\' x2=\'19.78\' y2=\'19.78\'></line><line \
            x1=\'1\' y1=\'12\' x2=\'3\' y2=\'12\'></line><line x1=\'21\' y1=\'12\' x2=\'23\' y2=\'12\'></line><line x1=\'4.22\' y1=\'19.78\' x2=\'5.64\' \
            y2=\'18.36\'></line><line x1=\'18.36\' y1=\'5.64\' x2=\'19.78\' y2=\'4.22\'></line></svg>'); --url-dark: url('data:image/svg+xml;utf8,<svg \
            xmlns=\'http://www.w3.org/2000/svg\' width=\'32\' height=\'32\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'currentColor\' stroke-width=\'2.5\' \
            stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-moon\'><path d=\'M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z\'></path></svg>');"
        ></button>
          {%- elif header_button == "search_button" and config.build_search_index %}
        <button type="button" title="{{ macros::tr(key=`act_search`, lk=lang, td=g_trans_data) }}" accesskey="/"
          onclick="window.linkita.toggleSearch();"
          class="btn-search ml-4 h-6 w-6 shrink-0 cursor-pointer text-[0] bg-center bg-no-repeat bg-cover dark:invert"
          style="background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'32\' height=\'32\' viewBox=\'0 0 24 24\' \
            fill=\'none\' stroke=\'currentColor\' stroke-width=\'2.5\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-search\' \
            ><circle cx=\'11\' cy=\'11\' r=\'8\'></circle><line x1=\'21\' y1=\'21\' x2=\'16.65\' y2=\'16.65\'></line></svg>');"
        ></button>
            {%- if not config.extra.disable_javascript %}
        <script>window.linkita.initSearchButton({
          scripts: ["{{ get_url(path=`elasticlunr.min.js`) }}", "{{ get_url(path=`search_index.`~lang~`.js`) }}"]
        });</script>
            {%- endif %}
          {%- elif header_button == "translations_button" and (page.translations or section.translations) %}
        <button type="button" title="{{ macros::tr(key=`act_go_to_translation`, lk=lang, td=g_trans_data) }}" accesskey=";"
          class="btn-translations hidden ml-4 h-6 w-6 shrink-0 cursor-pointer text-[0] bg-center bg-no-repeat bg-cover dark:invert"
          style="background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'32\' height=\'32\' \
            viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'currentColor\' stroke-width=\'2.5\' stroke-linecap=\'round\' stroke-linejoin=\'round\' \
            class=\'feather feather-globe\'><circle cx=\'12\' cy=\'12\' r=\'10\'></circle><line x1=\'2\' y1=\'12\' x2=\'22\' y2=\'12\'></line><path \
            d=\'M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z\'></path></svg>');"
        ></button>
            {%- if not config.extra.disable_javascript %}
        <script>window.linkita.initTranslationsButton({btn: document.querySelector(".btn-translations")});</script>
            {%- endif %}
          {%- endif %}
        {%- endfor %}
      </div>
      {% if header_menu %}
      <div title="{{ macros::tr(key=`act_menu`, lk=lang, td=g_trans_data) }}" role="button" accesskey="+" tabindex="0"
        class="btn-menu relative z-50 flex h-8 w-8 shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
        onclick="window.linkita.toggleHeaderMenu();"
        onkeydown="(event.keyCode == 13 || event.keyCode == 32) ? event.preventDefault() || window.linkita.toggleHeaderMenu() : true;"
      ></div>
      {% endif %}
    </div>
    {% if header_menu %}
    <nav class="flex w-full items-center lg:w-auto">
      <menu
        class="nav-wrapper flex w-full flex-col py-2 lg:w-auto lg:flex-row lg:self-center lg:py-0">
        {%- for menu in header_menu %}
        <li>
          <a
            class="primary-link block py-2 text-center text-lg font-medium lg:px-3 lg:py-0"
            href="{{ menu.url | replace(from=`$BASE_URL`, to=base_url_lang) | escape_xml | safe }}">{%
              if menu.names[lang] %}{{ menu.names[lang] }}{%
              elif menu.names_i18n and g_trans_data[menu.names_i18n][lang] %}{{
                g_trans_data[menu.names_i18n][lang] }}{%
              elif menu.name %}{{ menu.name }}{%
              else %}{{ menu.url | replace(from=`$BASE_URL`, to="") | escape_xml | safe }}{% endif %}</a>
        </li>
        {%- endfor %}
      </menu>
      <!-- Header Nav inject -->
      {% include "injects/header_nav.html" ignore missing %}
    </nav>
    {% endif %}
  </div>
</header>
