{%- if pages is defined %}
{%- elif paginator is defined %}
  {%- set pages = paginator.pages %}
{%- elif term is defined %}
  {%- set pages = term.pages %}
{%- elif section is defined %}
  {%- set pages = section.pages %}
{%- endif %}

{% for page in pages %}
<section
  class="block-bg relative mb-4 rounded-lg p-4 first-of-type:mt-0 last-of-type:mb-0 active:scale-95 lg:mb-6 lg:p-6"
>
  {% if page.extra.cover.image %}
  <figure class="mb-4 mt-0">
    <img
      class="h-auto w-full rounded-lg"
      src="{{ get_url(path=page.extra.cover.image) }}"
      {% if page.extra.cover.alt is defined %}alt="{{ page.extra.cover.alt | escape_xml | safe }}"{% endif %}
      {% if page.extra.cover_width is defined %}width="{{ page.extra.cover_width | int }}"{% endif %}
      {% if page.extra.cover_height is defined %}height="{{ page.extra.cover_height | int }}"{% endif %}
    />
  </figure>
  {% endif %}

  <h2 class="!my-0 pb-1 font-bold !leading-none">{{ page.title }}</h2>

  <div class="not-prose my-1 truncate">
    {% if page.description %}
    <p>{{ page.description }}</p>
    {% elif page.summary %}
    {{ page.summary | striptags | safe }}
    {% endif %}
  </div>

  {% include "partials/page_info.html" %}

  <a class="absolute inset-0 text-[0]" href="{{ page.permalink | escape_xml | safe }}">{{ page.title }}</a>
</section>
{% endfor %}

<!-- Main Nav -->
{% if paginator is defined %}
<nav class="mt-16 flex">
  {% if paginator.previous %}
  <a
    class="rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.previous | escape_xml | safe }}" accesskey=","
    >&#8249; {{ macros::tr(key="word_prev_page", lk=lang, td=g_trans_data) }}</a>
  {% endif %}
  {% if paginator.next %}
  <a
    class="ml-auto rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.next | escape_xml | safe }}" accesskey="."
    >{{ macros::tr(key="word_next_page", lk=lang, td=g_trans_data) }} &#8250;</a>
  {% endif %}
</nav>
{% endif %}
