{% if page.taxonomies %}
<footer class="mt-12 flex flex-col" tabindex="-1" accesskey="_">
  {%- set_global term_names = [] %}
  {%- for term_name, terms in page.taxonomies %}
  {%- set_global term_names = term_names | concat(with=term_name) %}
  {%- endfor %}
  {% for term_name in term_names | sort %}
  <div class="mb-2 flex flex-wrap">
    <span class="block-bg mb-1.5 mr-1.5 rounded-lg px-5 py-1.5">{%
      if term_name == "tags" %}{{ macros::tr(key="taxonomy_tags", lk=lang, td=g_trans_data) }}{%
      elif term_name == "categories" %}{{ macros::tr(key="taxonomy_categories", lk=lang, td=g_trans_data) }}{%
      elif term_name == "authors" %}{{ macros::tr(key="taxonomy_authors", lk=lang, td=g_trans_data) }}{%
      else %}{{ term_name }}{% endif %}</span>
    {% for term in page.taxonomies[term_name] %}
    <a
      class="block-bg block-hover mb-1.5 mr-1.5 rounded-lg px-5 py-1.5 no-underline"
      href="{{ get_taxonomy_url(kind=term_name, name=term, lang=lang) }}">{%
        if term_name == "authors" %}{{ macros::get_profile_name(username=term) }}{%
        else %}{{ term }}{% endif %}</a>
    {% endfor %}
  </div>
  {% endfor %}
</footer>
{% endif %}
