{%- if g_profile.languages[lang].name %}
  {%- set profile_name = g_profile.languages[lang].name %}
{%- elif g_profile.name %}
  {%- set profile_name = g_profile.name %}
{%- endif %}
{%- if g_profile.languages[lang].bio %}
  {%- set profile_bio = g_profile.languages[lang].bio %}
{%- elif g_profile.bio %}
  {%- set profile_bio = g_profile.bio %}
{%- endif %}
{%- set base_url_lang = get_url(path="", lang=lang) %}
<div class="mb-16 flex items-start">
  {%- if g_profile.avatar_url %}
  <div
    class="not-prose mr-5 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 shadow dark:bg-white/[15%]">
    <img
      class="{% if g_profile.avatar_invert %}dark:invert{% endif %} my-0 aspect-square w-16 rounded-full !bg-black/5 hover:animate-spin"
      src="{{ get_url(path=g_profile.avatar_url, cachebust=true) }}"{%
        if g_profile.languages[lang].avatar_alt is defined %} alt="{{ g_profile.languages[lang].avatar_alt | escape_xml | safe }}"{%
        elif g_profile.avatar_alt is defined %} alt="{{ g_profile.avatar_alt | escape_xml | safe }}"{% endif %} />
  </div>
  {%- endif %}
  <div>
    {%- if profile_name is defined %}
    <h1 class="mb-2 text-3xl font-bold">{{ profile_name }}</h1>
    {%- endif %}
    {%- if profile_bio is defined %}
    <div class="mb-2 break-words">
      {{ profile_bio | markdown(inline=true) | safe }}
    </div>
    {%- endif %}

    {%- if g_profile.social is defined %}
    <nav class="flex justify-start space-x-3 dark:invert">
      {%- for social in g_profile.social %}
      <a
        class="primary-link h-8 w-8 text-[0] [background:var(--url)_center_center/cover_no-repeat]"
        style="--url: url({{ macros::get_social_icon(icon=social.name) }})"
        href="{{ social.url | replace(from=`$BASE_URL`, to=base_url_lang) | escape_xml | safe }}"
        target="_blank"
        rel="{% if social.name == `rss` %}alternate{% else %}me{% endif %}"
        >{{ social.name }}</a>
      {%- endfor %}
    </nav>
    {%- endif %}
  </div>
</div>
