{% if page.toc %}
<div class="block-bg mb-12 rounded-lg p-2 text-lg">
  <details>
    <summary class="select-none py-0.5 lg:py-1 pl-4" accesskey="=">
      <span class="cursor-pointer">{{ macros::tr(key="word_toc", lk=lang, td=g_trans_data) }}</span>
    </summary>
    <div class="px-2">
      <ul>
        {%- for h1 in page.toc %}
        <li>
          <a class="no-underline hover:underline" href="{{ h1.permalink | escape_xml | safe }}">{{ h1.title }}</a>
          {%- if h1.children %}
          <ul>
            {%- for h2 in h1.children %}
            <li>
              <a class="no-underline hover:underline" href="{{ h2.permalink | escape_xml | safe }}">{{ h2.title }}</a>
            </li>
            {%- endfor %}
          </ul>
          {%- endif %}
        </li>
        {%- endfor %}
      </ul>
    </div>
  </details>
</div>
{% endif %}
