{% extends "index.html" %}
{% block main %}
{%- if g_profile is defined %}
  {% include "partials/profile.html" %}
{%- else %}
<h1 class="mb-16">{{ page.title }}</h1>
{%- endif %}
{% set section = get_section(path=page.extra.section) %}

{% for year, posts in section.pages | group_by(attribute="year") %}
<h2>{{ year }} <sup class="opacity-60">{{ posts | length }}</sup></h2>

<div class="not-prose pl-6">
  <ul>
    {% for post in posts %}
    <li>
      <div class="my-2 flex items-center justify-between">
        <a class="secondary-link" href="{{ post.permalink | escape_xml | safe }}">{{ post.title }}</a>
        {%- set date_format_archive = config.extra.languages[lang].date_format_archive | default(value="%m-%d") %}
        <time class="font-mono text-sm opacity-80" datetime="{{ post.date | date(format=`%+`) }}">{%
          if config.extra.languages[lang].locale %}{{ post.date | date(format=date_format_archive,
            locale=config.extra.languages[lang].locale) }}{%
          else %}{{ post.date | date(format=date_format_archive) }}{% endif %}</time>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endfor %}
{% endblock main %}
