{% import "macros.html" as macros %}
{%- set g_trans_data = load_data(path="i18n.json", format="json") %}
{%- if page.extra.profile %}
  {%- set profile_username = page.extra.profile %}
{%- elif section.extra.profile %}
  {%- set profile_username = section.extra.profile %}
{%- elif taxonomy.name is defined and taxonomy.name == "authors" and term.name is defined %}
  {%- set profile_username = term.name %}
{%- endif %}
{%- if profile_username is defined %}
  {%- if config.extra.profiles[profile_username] %}
    {%- set g_profile = config.extra.profiles[profile_username] %}
  {%- else %}
    {%- set g_profile = load_data(literal='{"name": "'~profile_username~'"}', format="json") %}
  {%- endif %}
{%- endif %}
{%- if page.extra.cover_width is defined or page.extra.cover_height is defined %}
  {%- set g_image_data = load_data(literal='{"width": '~page.extra.cover_width~
    ',"height": '~page.extra.cover_height~'}', format="json") %}
{%- elif page.extra.cover.image %}
  {%- set g_image_path = page.extra.cover.image %}
  {%- set g_image_data = get_image_metadata(path=g_image_path, allow_missing=true) %}
{%- endif %}
{%- set g_is_article = page.date is defined or page.updated is defined %}
{%- set g_html_lang = config.extra.languages[lang].art_x_lang | default(value=lang) %}
{#- -#}
<!doctype html>
<html class="not-ready overflow-y-scroll lg:text-base" lang="{{ g_html_lang | escape_xml | safe }}">

<head prefix="og: https://ogp.me/ns#{%
  if g_profile is defined %} profile: https://ogp.me/ns/profile#{%
  elif g_is_article %} article: https://ogp.me/ns/article#{%
  endif %}">
  {%- include "partials/head.html" %}
  {%- include "partials/head_res.html" %}
  <!-- Head inject -->
  {% include "injects/head.html" ignore missing %}
</head>

<body class="text-black duration-200 ease-out bg-[var(--bg)] dark:text-white">
  {% include "partials/header.html" %}
  <!-- Body Start inject -->
  {% include "injects/body_start.html" ignore missing %}
  <main class="prose prose-neutral relative mx-auto min-h-[calc(100%-4rem)]
    max-w-3xl break-words px-4 pb-12 pt-28 lg:pt-32 dark:prose-invert prose-pre:rounded-lg prose-img:rounded-lg">
    {%- if config.build_search_index %}
      {% include "partials/search.html" %}
    {%- endif %}
    {%- block main %}
      <!-- Profile -->
      {%- if g_profile is defined and (paginator is undefined or paginator.current_index == 1) %}
        {% include "partials/profile.html" %}
      {%- endif %}
      {% include "partials/page_list.html" %}
    {%- endblock main %}
  </main>
  {% include "partials/footer.html" %}
  {% include "partials/body_res.html" %}
  <!-- Body End inject -->
  {% include "injects/body_end.html" ignore missing %}
</body>

</html>
