{%- macro get_social_icon(icon) -%}
{%- set path = "icons/" ~ icon ~ ".svg" -%}
{%- set meta = get_image_metadata(path=path, allow_missing=true) -%}
{%- if meta -%}
{{- get_url(path=path) -}}
{%- else -%}
{{- "https://cdn.jsdelivr.net/npm/simple-icons/icons/" ~ icon ~ ".svg" -}}
{%- endif -%}
{%- endmacro get_social_icon -%}

{%- macro get_profile_name(username) -%}
{%- if config.extra.profiles[username] -%}
{%- set profile_data = config.extra.profiles[username] -%}
{%- if profile_data.languages[lang].name -%}
{%- set profile_name = profile_data.languages[lang].name -%}
{%- elif profile_data.name -%}
{%- set profile_name = profile_data.name -%}
{%- else -%}
{%- set profile_name = username -%}
{%- endif -%}
{%- else -%}
{%- set profile_name = username -%}
{%- endif -%}
{%- if profile_name -%}
{{- profile_name -}}
{%- endif -%}
{%- endmacro get_profile_name -%}

{%- macro tr(key, lk, td) -%}
{%- if td[key][lk] %}{{ td[key][lk] }}
{%- elif td[key]["en"] %}{{ td[key]["en"] }}
{%- else %}{{ td[key][lk] }}
{%- endif %}
{%- endmacro tr -%}
