{% extends "index.html" %}
{% block main %}
<!-- Taxonomy Title -->
<h1 class="mb-16">{%
  if taxonomy.name == "tags" %}{{ macros::tr(key="taxonomy_tags", lk=lang, td=g_trans_data) }}{%
  elif taxonomy.name == "categories" %}{{ macros::tr(key="taxonomy_categories", lk=lang, td=g_trans_data) }}{%
  elif taxonomy.name == "authors" %}{{ macros::tr(key="taxonomy_authors", lk=lang, td=g_trans_data) }}{%
  else %}{{ taxonomy.name }}{% endif %}</h1>
<!-- Taxonomies -->
<div class="not-prose grid grid-cols-1 gap-4 md:grid-cols-2">
  {% for term in terms %}
  <div class="block-bg flex h-full flex-col rounded-lg px-5 pb-2 md:min-h-72">
    <h2 class="my-4 text-xl font-bold text-black dark:text-white">
      <a class="primary-link" href="{{ term.permalink | escape_xml | safe }}">{%
        if taxonomy.name == "authors" %}{{ macros::get_profile_name(username=term.name) }}{%
        elif taxonomy.name == "tags" %}#{{ term.name }}{%
        elif taxonomy.name == "categories" %}{{ term.name }}{%
        else %}{{ term.name }}{% endif %}</a>
      <sup class="opacity-60">{{ term.page_count }}</sup>
    </h2>

    {% for page in term.pages | slice(end=5) %}
    <a class="secondary-link my-0.5" href="{{ page.permalink | escape_xml | safe }}">{{ page.title }}</a>
    {% endfor %}

    {% if term.pages | length > 5 %}
    <span class="flex justify-end">
      <a class="secondary-link mt-1 pr-2" href="{{ term.permalink | escape_xml | safe }}">{{
        macros::tr(key="word_more", lk=lang, td=g_trans_data) }}</a>
    </span>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock main %}
